@import url(https://fonts.googleapis.com/css?family=Exo);
@import url(https://fonts.googleapis.com/css?family=Lato);

body, p, h1, h2, a, input {
    font-family: 'Exo', Arial, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

/* Navigation */
nav {
    margin-top: 0;
    margin-bottom: 20px;
    list-style: none;
}

.navbar {
    position: relative;
    min-height: 100px;
    background-color: #39CCCC;
}

.navbar-brand {
    float: left;
    height: 100%;
    padding: 30px 30px;
    font-size: 36px;
    line-height: 40px;
}

.navbar-brand a, i {
    color: white;
    text-decoration: none;
}

.navbar-sub {
    float: right;
    height: 50px;
    padding-top: 60px;
    padding-right: 20px;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    color: white;
}

.sidebar {
    min-height: 100%;
    position: relative;
    float: left;
    width: 320px;
    border-right: 2px solid #dedede;
}

/* Sidebar content */
.sidebar a {
    font-weight: normal;
    color: black;
    text-decoration: none;
}

.sidebar-item {
    display: block;
    padding: .5rem 1rem;
}

.sidebar-item.active,
a.sidebar-item:hover,
a.sidebar-item:focus {
    text-decoration: none;
    background-color: #F5F5F5;
    border-color: transparent;
}

@media (min-width: 48rem) {
    .sidebar-item {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

/* Content */
.content {
    margin-left: 322px;
    padding-right: 35px;
    padding-left: 12px;
}

.content ul p {
    font-family: 'Lato', Arial, serif;
    line-height: 23px;
    padding-bottom: 15px;
}

/* Code */
code {
    font-family: Menlo, Monaco, "Courier New", monospace;
}

code {
    padding: .25em .5em;
    font-size: 85%;
    color: #bf616a;
    background-color: #f9f9f9;
    border-radius: 3px;
}

.highlight {
    margin-bottom: 1rem;
    border-radius: 4px;
}